body{
	background-color:#222;
	color:#eee;
}
table{
	border:1px solid #ccc;
	border-collapse:collapse;
	font-size:9pt;
	margin:auto;
}
td{
	border:1px solid #ccc;
}
.statistics{
	text-align:center;
}
.slicer{
	background-color:#444;
	text-align:center;
}
.lamper{
	background-color:#ddd;
	color:#444;
}
.bp{
	text-align:right;
}
.FC{
	background-color:blue;
}
.EXH{
	background-color:yellow;
}
.HC{
	background-color:red;
}
.CL{
	background-color:aqua;
}
.EC{
	background-color:gold;
}
.ASSIST{
	background-color:pink;
}
.FAILED{
	background-color:gray;
}
.NOPLAY{
	background-color:black;
}