body{
	background-color:#222;
	color:#eee;
}
table{
	border:1px solid #ccc;
	border-collapse:collapse;
	margin:auto;
}
td{
	border:1px solid #ccc;
	padding-left:5px;
	padding-right:5px;
	font-size:9pt;
}
td:nth-child(2){
	background-color:#FB607F;
	color:black
}
td:nth-child(3){
	text-align:right
}
td:nth-child(4){
	text-align:right
}
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.navbar a {
	float: left;
	display: block;
	color:#eee;
	font-size:12pt;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
}
.main {
	margin-bottom: 80px;
}
.slicer{
	background-color:#444;
	text-align:center;
}
.FC{
	background-color:blue;
}
.EXH{
	background-color:yellow;
}
.HC{
	background-color:white;
}
.CL{
	background-color:dodgerblue;
}
.EC{
	background-color:gold;
}
.ASSIST{
	background-color:pink;
}
.FAILED{
	background-color:red;
}
.NOPLAY{
	background-color:black;
}
.NORMAL{
	background-color:#73C2FB !important
}
.HYPER{
	background-color:#eeee77 !important
}
.ANOTHER{
	background-color:#FB607F !important
}
.LEGGENDARIA{
	background-color:#a57ecc !important
}
